/*!
global > color
------------------------------
*/
:root {
  --color-base-text: #28322f;
  --color-black: #131313;
  --color-white: #f1f1f1;
  --color-primary: #126445;
  --color-primary-light: #a8c7bc;
  --color-primary-dark: #075538;
  --color-accordion: #d3e9e1;
  --color-gray: #fafafa;
  --color-placeholder: #a3a3a3;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 342px;
  --width-content: 760px;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family: "M PLUS Rounded 1c", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-default: 1;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.7;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-base-text);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*!
utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-ptb {
  padding: 64px 0;
}

@media screen and (min-width: 768px) {
  .u-ptb {
    padding: 80px 0;
  }
}

/* .u-mt40 {
  margin-top: 40px;
} */

/*!
component > button
------------------------------
*/
.c-button {
  padding: 12px 40px;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 3px solid currentColor;
  font-weight: bold;
  border-radius: 100vh;
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.c-button-link {
}

.c-button--contact {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 3px solid var(--color-primary);
}

/*!
component > title
------------------------------
*/
.c-title {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.6;
  color: var(--color-base-text);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-title {
    font-size: 34px;
  }
}

/*!
component > post
------------------------------
*/
.c-post {
}

.c-post-link {
}

.c-post-thumbnail {
  position: relative;
}

.c-post-thumbnail img {
  border-radius: 16px;
  aspect-ratio: 342/234;
}

.c-post-date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px 0 16px;
  padding: 2px 12px;
}

.c-post-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .c-post-title {
    font-size: 22px;
  }
}

/*!
component > form
------------------------------
*/
/* .c-form-text {
  border: 1px solid var(--color-border);
  padding: 8px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.c-form-text::placeholder {
  color: var(--color-black);
  opacity: 0.3;
}

.c-form-text:focus {
  border-color: var(--color-focus);
}

.c-form-text--textarea {
  /* textareaの高さを内容に合わせて調整 */
/* field-sizing: content;
} */

/*!
layout > container
------------------------------
*/
.l-container-s {
  width: min(90%, var(--width-content-s));
  margin-inline: auto;
}

.l-container {
  width: min(90%, var(--width-content));
  margin-inline: auto;
}

/*!
layout > posts
------------------------------
*/
/* .l-posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px 24px;
}

@media screen and (min-width: 500px) {
  .l-posts--2columns,
  .l-posts--3columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  .l-posts--3columns {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/*!
layout > header
------------------------------
*/

.l-header {
  background-color: var(--color-primary);
  padding: 32px 8px 24px;
}

.l-header-logo {
  width: 180px;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .l-header-logo {
    width: 240px;
  }
}

.l-header-nav {
  padding-top: 16px;
  /* headerのpadding分を打ち消して、スクロール可能な範囲を画面幅いっぱいにする */
  margin-inline: -8px;
}

.l-header-nav-list {
  display: flex;
  gap: 4px;
  overflow-x: auto;
  /* l-containerと同じ位置に最初/最後の項目が揃うようにする余白 */
  padding-inline: calc((100% - min(90%, var(--width-content))) / 4);

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 500px) {
  .l-header-nav-list {
    justify-content: center;
  }
}

.l-header-nav-list::-webkit-scrollbar {
  display: none;
}

.l-header-nav-item {
  color: var(--color-white);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 8px;
  white-space: nowrap;
}

.l-header-nav-item--current {
  background-color: var(--color-primary-dark);
}

/*!
layout > footer
------------------------------
*/

.l-footer {
  background-color: var(--color-primary);
  padding-block: 40px;
  color: var(--color-white);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .l-footer {
    padding-block: 24px;
  }
}

.l-footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .l-footer-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.l-footer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.l-footer-item {
  white-space: nowrap;
  font-size: 16px;
}

.l-footer-item:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 12px;
}

.l-footer-copyright {
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-footer-copyright {
    font-size: 16px;
  }
}

/*!
page > top
------------------------------
*/
.top-posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .top-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

.top-button {
  margin-top: 40px;
  text-align: center;
}

/*!
page > single
------------------------------
*/
.single-article {
}

.single-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-title {
  margin-top: 8px;
}

.single-thumbnail {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .single-thumbnail {
    margin-top: 24px;
  }
}

.single-thumbnail img {
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .single-thumbnail img {
    border-radius: 20px;
  }
}

.single-content {
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .single-content {
    margin-top: 64px;
  }
}

.single-content > * {
  margin-top: 24px;
}

.single-content h2 {
  margin-top: 54px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 8px;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .single-content h2 {
    margin-top: 64px;
    font-size: 20px;
  }
}
.single-content h3 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
  line-height: 1.6;
  /* iconと横並びにするため */
  display: flex;
  align-items: baseline;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .single-content h3 {
    font-size: 20px;
  }
}

.single-content h3::before {
  content: "";
  width: 28px;
  height: 23px;
  display: block;
  background-image: url(../img/icon-mosha.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  translate: 0 4px;
}

.single-banner {
  display: block;
}

.single-recommend {
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .single-recommend {
    padding-bottom: 64px;
  }
}

.single-recommend-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* iconを擬似要素で配置するため */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .single-recommend-title {
    font-size: 22px;
  }
}

.single-recommend-title::before {
  content: "";
  width: 34px;
  height: 27px;
  display: block;
  background-image: url(../img/icon-mosha.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*!
page > author
------------------------------
*/

/*!
page > gallery
------------------------------
*/

/*!
page > contact
------------------------------
*/

.contact-note {
  margin-top: 8px;
}

.contact-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-label {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .contact-label {
    translate: 0 9px;
  }
}

.contact-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .contact-item {
    grid-template-columns: 1fr calc(560 / 760 * 100%);
    /* 一番小さい幅（問い合わせ内容）を指定 */
    gap: 72px;
  }
}

.contact-button-wrap {
  text-align: center;
}

.contact-textarea {
  height: 200px;
}
