@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
  --font-size: 18rem;
  --gap: 14rem;
  font-family: var(--font-family-en);
  line-height: 1;
  font-size: var(--font-size);
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  gap: var(--gap);

  @include g.mq() {
    font-size: 20rem;
    gap: 24rem;
  }
}
