@use "../global" as g;

/*!
component > form
------------------------------
*/
// 必須ラベル
.c-form-required {
  display: inline-block;
  font-size: 13rem;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 2rem 8rem;
  border-radius: 7rem;
}

// input
.c-form-text {
  padding: 12rem 8rem;
  border-radius: 8rem;
  background-color: var(--color-bg-extra-light);
  width: 100%;

  &::placeholder {
    color: var(--color-font-light);
  }

  &:focus {
    outline: 1px solid var(--color-primary);
  }
}

.c-form-text--textarea {
  min-height: 200rem;
  field-sizing: content;
}

.c-form-button {
  font-size: 18rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 13rem 39rem;
  border-radius: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
  border: 1rem solid var(--color-primary);

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }
}
